<div id="question">
  <h2>Question:</h2>
  <p><%= @question %></p>
</div>

<div id="answer">
  <h2>Coach's answer:</h2>
  <p><%= @answer %></p>
</div>

  <%= link_to "Ask a new question", ask_path %>
