<form action="/answer" method="get" data-turbo="false" class="row row-cols-lg-auto g-3 align-items-center pt-3">
 <div class="col-12">
  <input type="text" name="question" placeholder="What's your question?" class="form-control">
  </div>
  <div class="col-12">
  <input type="submit" value="Ask!" class="btn btn-primary">
</div>
</form>
